<div class="col-md-12">
	<div class="card col-md-12"> <!-- White card Edit from here -->
		{{#if gameOverview.home}} <!-- Change sides if home/away game -->
			<div class="row">
				<div class="col-sm-5">
					<div class="row">
						<h2 class="text-center">{{gameOverview.teamname}}</h2>
					</div>
					<div class="row">
						<img src="{{gameOverview.teamlogo}}">
					</div>
				</div>
				<div class="col-sm-2">
					<div class="row">
						<h2>vs</h2>
					</div>
					<div class="row">
						({{gameOverview.periods.first.opponent}} : {{gameOverview.periods.first.our}}, {{gameOverview.periods.second.opponent}} : {{gameOverview.periods.second.our}},
						{{gameOverview.periods.third.opponent}} : {{gameOverview.periods.third.our}})
					</div>
				</div>
				<div class="col-sm-5">
					<div class="row">
						<h2 class="text-center">Wolves Tychy</h2>
					</div>
					<div class="row">
						<img src="/img/wolvesorginal.png">
					</div>
				</div>
			</div>
		{{else}} <!-- away game sides -->
		<div class="row">
			<div class="col-sm-5">
				<div class="row">
					<h2 class="text-center">Wolves Tychy</h2>
				</div>
				<div class="row">
					<img src="/img/wolvesorginal.png">
				</div>
			</div>
			<div class="col-sm-2">
				<div class="row">
					<h2>vs</h2>
				</div>
				<div class="row">
					({{gameOverview.periods.first.our}} : {{gameOverview.periods.first.opponent}}, {{gameOverview.periods.second.our}} : {{gameOverview.periods.second.opponent}},
					{{gameOverview.periods.third.our}} : {{gameOverview.periods.third.opponent}})
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row">
					<h2 class="text-center">{{gameOverview.teamname}}</h2>
				</div>
				<div class="row">
					<img src="{{gameOverview.teamlogo}}">
				</div>
			</div>
			</div>
		{{/if}}
			<div class="col-md-12">

				<!-- Score table ! -->
				<table id="playersTable"
							 data-toggle="table"
							 data-method="post"
							 data-classes="table"
							 data-url="/ap/game/{{gameOverview._id}}">
					<thead>
						<tr>
							<th data-field="playerID._id" data-visible="false">id</th>
							<th data-field="playerID.username" data-visible="false" data-sortable="true">username</th>
							<th data-field="playerID.name" data-sortable="true">Imie</th>
							<th data-field="playerID.surname" data-sortable="true">Nazwisko</th>
							<th data-field="playerID.shirtnumber" data-sortable="true">Numer</th>
							<th data-field="playerID.position" data-sortable="true">Pozycja</th>
							<th data-field="goals" data-sortable="true" data-formatter="goalsFormatter" data-events="goalsEvents">Gole</th>
							<th data-field="assists" data-sortable="true" data-formatter="goalsFormatter" data-events="assistsEvents">Asysty</th>
							<th data-field="pim" data-sortable="true" data-formatter="pimsFormatter" data-events="pimsEvents">Minuty Karne</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
</div> <!-- END card -->


<script>
function goalsFormatter(value) {
return {{#if user.permissions.editGame}}'<a class="minus" nohref><i class="glyphicon glyphicon-minus-sign"></i></a> ' + value + ' <a class="plus" nohref><i class="glyphicon glyphicon-plus-sign"></i></a>'{{else}}value{{/if}};
}
function pimsFormatter(value) {
return {{#if user.permissions.editGame}}'<a class="minus" nohref><i class="glyphicon glyphicon-minus-sign"></i></a> ' + value + ' <a class="2" nohref>2</a> <a class="4" nohref>4</a> <a class="5" nohref>5</a> <a class="10" nohref>10</a>'{{else}}value{{/if}};
}
{{#if user.permissions.editGame}}
function incGoals(row, value) {
	var data = {};
	data.value = value;
	data.player = row;
	$.ajax({
		type: 'PUT',
		data: JSON.stringify(data),
		contentType: 'application/json',
		url: window.location.pathname,
		success: function (data, textStatus, jqXHR) {
			console.log(data);
		},
	});
}
function incAssists(row, value) {
	var data = {};
	data.value = value;
	data.player = row;
	$.ajax({
		type: 'PURGE',
		data: JSON.stringify(data),
		contentType: 'application/json',
		url: window.location.pathname,
		success: function (data, textStatus, jqXHR) {
			console.log(data);
		},
	});
}
function incPims(row, value) {
	var data = {};
	data.value = value;
	data.player = row;
	$.ajax({
		type: 'MERGE',
		data: JSON.stringify(data),
		contentType: 'application/json',
		url: window.location.pathname,
		success: function (data, textStatus, jqXHR) {
			console.log(data);
		},
	});
}

window.goalsEvents = {
	'click .plus': function (e, value, row, index) {
		incGoals(row, 1);
		admins.showSwal('refreshplayers');
	},
	'click .minus': function (e, value, row, index) {
		incGoals(row, -1);
		admins.showSwal('refreshplayers');
	},
	};
	window.assistsEvents = {
	'click .plus': function (e, value, row, index) {
		incAssists(row, 1);
		admins.showSwal('refreshplayers');
	},
	'click .minus': function (e, value, row, index) {
		incAssists(row, -1);
		admins.showSwal('refreshplayers');
	},
	};
	window.pimsEvents = {
	'click .2': function (e, value, row, index) {
		incPims(row, 2);
		admins.showSwal('refreshplayers');
	},
	'click .4': function (e, value, row, index) {
		incPims(row, 4);
		admins.showSwal('refreshplayers');
	},
	'click .5': function (e, value, row, index) {
		incPims(row, 5);
		admins.showSwal('refreshplayers');
	},
	'click .10': function (e, value, row, index) {
		incPims(row, 10);
		admins.showSwal('refreshplayers');
	},
	'click .reset': function (e, value, row, index) {
		incPims(row, -1);
	admins.showSwal('refreshplayers');
},
};
{{/if}}
</script>
