<!-- Amateur Section -->
<section id="contact" class="content-section text-center">
    <div class="row">
        <!-- Stats of amateur team -->
        <div class="col-md-6" style='vertical-align: middle'>
            <h1>Amatorzy</h1>
        </div>
        <div class="col-md-6">
            <!-- Stats of amateur team -->
            <table class='table'>
                <tr>
                    <td class='col-md-6'>Wygrane</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.win}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Przegrane</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.lose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Remisy</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.draw}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>WygranePoDogrywce</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.overtimeWin}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>PrzegranePoDogrywce</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.overtimeLose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>WygranePoKarnych</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.shootoutWin}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>PrzegranePoKarnych</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.shootoutLose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Zdobyte bramki</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.goalsOur}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Stracone bramki</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.goalsOpponent}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Średnio zdobytych bramek</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.goalsAvgOur}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Średnio straconych bramek</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats.goalsAvgOpponent}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="th-center text-primary">
                <th style='font-weight:bold;'>Data</th>
                <th style='font-weight:bold;'>Przeciwnik</th>
                <th style='font-weight:bold;'>logo</th>
                <th style='font-weight:bold;'>liga</th>
                <th style='font-weight:bold;'>sezon</th>
                <th style='font-weight:bold;'>Wynik</th>
            </thead>
            <tbody>
                {{#each last5}}
                <tr>
                    <td><img onload="moment({{this.date}}).format('DD.MM.YYYY')"></td>
                    <td>{{this.periods.final.our}}:{{this.periods.final.opponent}}</td>
                    <td>{{this.teamname}}</td>
                    <td><img src="{{this.teamlogo}}" style="height: 40px; width: 40px;"></td>
                    <td>{{this.event.shortname}}</td>
                    <td>{{this.event.season}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<!-- 2 liga Section -->
<section id="contact" class="content-section text-center">
    <div class="row">
        <!-- Stats of 2 liga team -->
        <div class="col-md-6" style='vertical-align: middle'>
            <h1>2 liga</h1>
        </div>
        <div class="col-md-6">
            <!-- Stats of 2 liga team -->
            <table class='table'>
                <tr>
                    <td class='col-md-6'>Wygrane</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.win}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Przegrane</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.lose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Remisy</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.draw}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>WygranePoDogrywce</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.overtimeWin}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>PrzegranePoDogrywce</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.overtimeLose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>WygranePoKarnych</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.shootoutWin}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>PrzegranePoKarnych</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.shootoutLose}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Zdobyte bramki</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.goalsOur}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Stracone bramki</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.goalsOpponent}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Średnio zdobytych bramek</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.goalsAvgOur}}</td>
                </tr>
                <tr>
                    <td class='col-md-6'>Średnio straconych bramek</td>
                    <td class='col-md-6' style='font-weight:bold;'>{{teamStats2.goalsAvgOpponent}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="th-center text-primary">
                <th style='font-weight:bold;'>Data</th>
                <th style='font-weight:bold;'>Przeciwnik</th>
                <th style='font-weight:bold;'>logo</th>
                <th style='font-weight:bold;'>liga</th>
                <th style='font-weight:bold;'>sezon</th>
                <th style='font-weight:bold;'>Wynik</th>
            </thead>
            <tbody>
                {{#each last52}}
                <tr>
                    <td><img onload="moment({{this.date}}).format('DD.MM.YYYY')"></td>
                    <td>{{this.periods.final.our}}:{{this.periods.final.opponent}}</td>
                    <td>{{this.teamname}}</td>
                    <td><img src="{{this.teamlogo}}" style="height: 40px; width: 40px;"></td>
                    <td>{{this.event.shortname}}</td>
                    <td>{{this.event.season}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
